.pagebackground {
    background-size: cover;
    background-position: center;
    padding: 10px;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f5;
}

.circle-shape {
    width: 200px;
    height: 200px;
    background: url('../images/backgrounds/pinkback.jpg'); /* Replace with the correct path to your image */
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-top: -10%;
}

#waveform {
    width: 100%;
    max-width: 600px;
    height: 75px;
    margin-top: 10px;
}

.timeline-container {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.timeline-slider {
    width: 100%;
    appearance: none;
    height: 8px;
    background: #ccc;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    right: center;
}

.timeline-slider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: #ff6600;
    border-radius: 50%;
    cursor: pointer;
}

.timeline-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #ff6600;
    border-radius: 50%;
    cursor: pointer;
}

.time-display {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #000;
}

.play-button-container {
    position: absolute;
    bottom: 34%; /* Move the play buttons below the timeline */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.play-button-container button {
    margin: 10px;
}

.buttons {
    text-align: center; /* Center text horizontally */
    display: flex; /* Use flex to center */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background: none;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    font-weight: 0; /* Set to a lighter weight for thinner text */
    color: black;
    cursor: pointer;
    font-family: inherit;
    outline: none;
    position: fixed;
    right: center;   /* Distance from the right of the screen */
    width: 25%; /* Set desired width here */
    height: 37px;
}

