/* Landingpage.css */

.pagebackground {
    background-size: cover;
    background-position: center;
    padding: 10px;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Concert One', sans-serif;
    background-image: url('../images/backgrounds/cloud.png'); /* Adjust path based on your project structure */
}

.musicbackground {
    width: 75%;
    height: 80%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 5px;
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.6);
    overflow-y: auto;
    padding: 10px;
    overflow-x: scroll;  /* Force a horizontal scroll bar */
    overflow-y: auto;  /* No vertical scroll bar */
    white-space: nowrap;  /* Prevent wrapping so tracks stay in one line */
}

.waveformStyle {
    width: auto;
    height: 75px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;  
}

.trackNameStyle {
    position: relative;
    color: #000;
    font-size: 0.8rem;
    z-index: 1002;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
}

.timelineStyle {
    width: 75%;  /* Set the timeline width to 75% */
    height: 30px;  /* Set the height of the timeline */
    background-color: #fff;  /* Ensure the background is visible */
    margin-bottom: 10px;  /* Add some space between the timeline and waveforms */
    margin-left: auto;  /* Align the timeline to the right */
    margin-right: 0;  /* Make sure it's aligned all the way to the right */
    overflow: hidden; 
    color: #000;  /* Ensure the text is visible */
    font-size: 12px; 
}

.timelineStyle .timeline-labels {
    color: #000;  /* Ensure font color is visible */
    font-family: Arial, sans-serif;  /* Set a readable font */
    font-size: 12px;  /* Make the font size large enough to be readable */
}
