/* Landingpage.css */

.pagebackground {
    background-size: cover;
    background-position: center;
    padding: 10px;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Concert One', sans-serif;
    background-image: url('../images/backgrounds/cloud.png'); /* Adjust path based on your project structure */
}

.musicbackground {
    width: 75%;
    height: 80%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 5px;
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.6);
    overflow-y: auto;
    padding: 10px;
    white-space: nowrap;  /* Prevent wrapping so tracks stay in one line */
}

.waveformStyle {
    height: 75px;
    margin-bottom: 20px;
    position: relative;
}

.trackNameStyle {
    position: relative;
    color: #000;
    font-size: 0.8rem;
    z-index: 1002;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
}

.timelineStyle {
    width: 100%;  /* Set the timeline width to 75% */
    margin-bottom: 10px;  /* Add some space between the timeline and waveforms */
    font-size: 12px;
    position: relative;
}

.exportButton {
    text-align: center; /* Center text horizontally */
    display: flex; /* Use flex to center */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background: none;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 0; /* Set to a lighter weight for thinner text */
    color: black;
    cursor: pointer;
    font-family: inherit;
    outline: none;
    position: fixed;
    bottom: 40px;  /* Distance from the bottom of the screen */
    right: 5%;   /* Distance from the right of the screen */
    width: 100px; /* Set desired width here */
    height: 37px;

}



.dropdownButton {
    cursor: pointer;
    margin-bottom: 9px;
    text-align: center;
    align-self: center;
    flex-direction: row;
    background: transparent;  
    border: none;          
    padding: 0;    
    position: fixed;
    top: 16px;  
    right: 20px;   
    width: auto;   
}

.dropdownMenu {
    position: absolute;
    background-color: white; 
    border: 1px solid #ccc;  
    z-index: 1000;           
    margin-top: 5px;  
    position: fixed;
    top: 33px; 
    right: 15px;  
    width: 70px;      
}

.dropdownMenu button {
    width: 100%;         
    border: none;         
    padding: 10px;        
    background: none;       
    text-align: right;      
    font-family: 'Concert One', cursive;   
}

.dropdownMenu button:hover {
    background-color: #f0f0f0;  
}

